
<h1>Hey, <%= @booking.passengers.pluck(:name) %>, you have booked a flight with us.</h1>
<p>
  The flight from <%= @booking.flight.departure_airport.location %>
  to <%= @booking.flight.arrival_airport.location %>
  will take off at <%= @booking.flight.scheduled_on %>.
</p>
<p>
  Please be at the corresponding gate at least 30 minutes earlier.
</p>
<p>
  For more info check <%= link_to 'Booking', "http://localhost:3000/bookings/#{@booking.id}" %>
</p>